<nav>
    <div class="nav-wrapper indigo">
        <a href="/" class="brand-logo center">Scraping Through The News</a>
        <ul class="right" id="nav-mobile">
            <li>
                <a href="/scrape">Scrape</a>
            </li>
            <li>
                <a href="https://github.com/KaseemJ/Mongodb-Mongoose" target="_blank">Git Repo</a>
            </li>
        </ul>
    </div>
</nav>